<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>DRT Bus Schedules</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>
    <%= javascript_include_tag "application" %>
    <script src="//tdcdn.blob.core.windows.net/toolbar/assets/prod/td.js" async="" data-trackduck-id="5485298375b3c12a4176865d"></script>
  </body>
</html>